<div id="login" class="centered-page">
  <%= form_tag(login_url, method: 'post', class: 'group-form pure-form pure-form-stacked') do %>
    <fieldset>
      <legend>Login with your e-mail address</legend>
      <div class="pure-control-group center">
        <%= text_field_tag :email, nil, placeholder: 'hello@theoffice.rw', class: 'inline', required: true %>
      </div>
      
      <div class="actions call-to-action small">
        <%= submit_tag "Login", class: 'button pure-button button-go' %>
      </div>
      We will send you a link to manage your group.
      
    </fieldset>
  <% end %>
</div>
