EMAIL_SENDER_ADDRESS=hello@michaelbumann.com
ADMIN_EMAIL=hello@michaelbumann.com
ADMIN_USER=admin
ADMIN_PASSWORD=kuvakehys
AWS_ACCESS_KEY_ID=access-key
AWS_SECRET_ACCESS_KEY=secret-key
S3_BUCKET_NAME=kuvakehys
S3_HOST_NAME=s3.amazonaws.com
PAPERCLIP_URL_SECRET=your-secret
SMTP_ADDRESS=smtp.email.com
SMTP_DOMAIN=email.com
SMTP_USER_NAME=postmaster@email.com
SMTP_PASSWORD=password
PWINTY_MERCHANT_ID=xxxxx
PWINTY_API_KEY=xxxx
PWINTY_PRODUCTION=false
PWINTY_PRINTING_COUNTRY_CODE=DE
ONGAIR_TOKEN=xxxx
TELEGRAM_TOKEN=token-of-your-telegram-bot