<div id="new-group">
  <%= form_for(@group, html: {class: 'group-form pure-form pure-form-stacked'}) do |f| %>
    <fieldset class="group-identifier">
      <legend>Your custom name</legend>
      <div class="pure-control-group">
        <div class="identifier">
          <%= f.text_field :email, required: true %>@<%= ENV['SMTP_DOMAIN'] %>
        </div>
        Make sure to choose a unique name that you can remember. <br />
        All photos sent to this address will be collected and printed.
      </div>
    </fieldset>
     <div class="actions call-to-action small">
        <%= f.submit "Save", class: 'button pure-button button-go' %>
      </div>

  <% end %>
</div>
