<div id="home">
  <%= image_tag "welcome.png" %>
  <h1><%= t('home.headline') %></h1>
  <h2>Share photos and send prints to your loved ones</h2>

  <div class="call-to-action">
    <%= link_to "Get started", new_group_url, class: "button-go pure-button" %>
  </div>


  <h3><%= t('home.See_how_it_works') %></h3>

</div>
