<div id="home">
  <div class="center">
    <%= image_tag "welcome.png" %>
    <h1>Collect photos and get prints delivered to your door</h1>
    <h2>
      Tasveer lets you collect photos and once 25 pictures are reached we ship prints to your address(es)
    </h2>

    <div class="call-to-action">
      <%= link_to "Get started", new_group_url, class: "button-go pure-button" %>
    </div>
    or <%= link_to "manage your group", login_url %>
  </div>


  <h3>What is Tasveer?</h3>
  <p>
    Tasveer literally means a picture or a photo in Hindi.
    There was a time of film cameras when we had to wait impatiently for the 35th photo to be clicked so that we could finally see all the prints. In this age of digital cameras, that suspense, that magic is kinda lost...or has it?
  </p>
  <p>
    We at Tasveer want to try to bring that time back. We want to create the surprise of an album at someone's door. We want you, your friends and family to share these moments and let them stay on a refrigerator, or on the bedside, and not just in some hard drive, lost and ignored. So let's make it happen!
  </p>

  <h3>How does it work?</h3>
  <p>
    You or your friends/family simply e-mail photos to your custom album email address. Tasveer collects these photos and once 25 pictures are collected we print the photos and send them to your recipients. <br />
    This could be you, your friends, family, anyone.<br />
</div>
