<div id="home">
  <%= image_tag "welcome.png" %>
  <h1>Bring your shared memories to life!</h1>
  <h2>Collect photos together</h2>

  <div class="call-to-action">
    <%= link_to "Get started", new_group_url, class: "button-go pure-button" %>
  </div>


  <h3>How does it work?</h3>

</div>
