development:
  adapter: <%= defined?(JRUBY_VERSION) ? "jdbcpostgresql" : "postgresql" %>
  database: kuvakehys_development
  username: postgres
  password:
  encoding: utf8

test:
  adapter: <%= defined?(JRUBY_VERSION) ? "jdbcpostgresql" : "postgresql" %>
  database: kuvakehys_test
  username: postgres
  password:
  encoding: utf8

production:
  adapter: <%= defined?(JRUBY_VERSION) ? "jdbcpostgresql" : "postgresql" %>
  database: kuvakehys_production
  username: postgres
  password:
  encoding: utf8
