// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  color: #565a5c;
  background-attachment: fixed;
  line-height: 1.6
}

#wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
}

#logo {
  text-align: center;
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #565a5c;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.center {
  text-align: center;
} 

.flash {
  background: #1f8dd6;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}

footer, .footer {
  font-size: 75%;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-top: 1px solid #ccc;
}

.group-form .group-recipient {
  margin-top: 20px;
}

.group-form .group-identifier {
  text-align: center;
}
.group-form .group-identifier .identifier input {
  display: inline;
}

.actions {
  text-align: center;
}

.group-form fieldset legend {
  color: #565a5c;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 120%;
  text-align: center;
}

.call-to-action {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 23px;
  
  &.small {
    font-size: 18px;
  }

  
  .button-go {
    background: #8ed321;
    color: white;
    border-radius: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
}

form input.inline {
  display: inline !important;
}

.group-email {
  font-size: 22px;
  border: 2px solid #8ed321;
  border-radius: 14px;
  color: #565a5c;
  a, a:visited {
    color: #565a5c;
    text-decoration: none;
  }
}


.photo-row-wrapper {
  margin-top: 50px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  .photo-row {
    width: 200%;
    overflow: hidden;
    height: 130px;
    .picture img {
      float: left;
      height: 130px;
    }
  }
}
